<div class="game-container">
  <mat-grid-list cols="2" gutterSize="1px" rowHeight="1:1">
    <mat-grid-tile>
      <div class="game-board">
        <mat-grid-list cols="8" gutterSize="1px" rowHeight="1:1">
          <mat-toolbar color="accent" class="game-title">
            <span>Game Board</span>
          </mat-toolbar>
          <mat-grid-tile *ngFor="let cell of Array(64); let i = index">
            <div class="cell">
              <div *ngIf="i === 4" class="robot-start">Robot Start</div>
              <img *ngIf="i === robotPosition" [ngSrc]="'assets/robot.png'" [style]="{ 'opacity': 0.6 }" class="robot"
                   fill
                   ngSrc="assets/robot.png"/>
              <mat-icon *ngIf="i === robotPosition"
                        style="font-size: 72px; height: 100%; width: 100%">{{robotDirection.toString()}}</mat-icon>
              <div *ngIf="i >= 56 && !(laserShot.indexOf(i) > -1)" class="robot-end">
                <div *ngIf="i === 56 || i === 63" class="robot-goal">Robot Goal</div>
              </div>
              <div *ngIf="laserShot.indexOf(i) > -1" class="laser-active"></div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="game-controls">

        <mat-toolbar color="accent" class="game-title">
          <span>Game Controls</span>
        </mat-toolbar>

        <mat-grid-list cols="1" rowHeight="50px">
          <mat-grid-tile>
            <mat-grid-list cols="10" rowHeight="50px">
              <mat-grid-tile *ngFor="let hitPoint of robotHitPoints; let hp = index">
                <mat-card>
                  <mat-card-header>
                    <mat-card-subtitle>
                      <div *ngIf="hitPoint > 0" style="font-size: 36px; height: 36px">{{10 - hp}}</div>
                      <mat-icon *ngIf="hitPoint === 0">clear_disabled</mat-icon>
                    </mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-raised-button color="warn" (click)="hurtRobot()">Hurt Robot</button>
            <button mat-raised-button color="warn" (click)="moveRobot()">Move Robot</button>
            <button mat-raised-button color="warn" (click)="rotateRobot()">Rotate Robot</button>
            <button mat-raised-button color="warn" (click)="laserEye()">Shoot Laser</button>
            <button mat-raised-button color="warn" (click)="resetGame()">Reset Game</button>
          </mat-grid-tile>
        </mat-grid-list>


      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
